infrastructure/stepfunction.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Set up state",
  "States": {
    "Set up state": {
      "Type": "Pass",
      "Next": "Loop over Videos",
      "Parameters": {
        "iterator": {
          "index": 0
        },
        "count.$": "States.ArrayLength($.videoKeys)",
        "videoKeys.$": "$.videoKeys",
        "context": {
          "transcription.$": "$.initialPrompt",
          "summarization.$": "$.initialSummary"
        }
      }
    },
    "Loop over Videos": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.iterator.index",
          "NumericLessThanPath": "$.count",
          "Next": "GetItem from DynamoDB"
        }
      ],
      "Default": "Success"
    },
    "GetItem from DynamoDB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${metadataTableName}",
        "ProjectionExpression": "#k, audio, transcription",
        "Key": {
          "key": {
            "S.$": "States.ArrayGetItem($.videoKeys, $.iterator.index)"
          }
        },
        "ExpressionAttributeNames": {
          "#k": "key"
        }
      },
      "Next": "Check if transcription already exists",
      "ResultPath": "$.dynamodb"
    },
    "Check if transcription already exists": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.dynamodb.Item.transcription",
          "IsPresent": true,
          "Next": "Summarize Transcription"
        }
      ],
      "Default": "Transcribe Audio to Text"
    },
    "Transcribe Audio to Text": {
      "Type": "Task",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobDefinition": "${audioTranscriberJobDefinitionArn}",
        "JobQueue": "${audioTranscriberJobQueueArn}",
        "Parameters": {
          "input_key.$": "$.dynamodb.Item.audio.S",
          "item_key.$": "$.dynamodb.Item.key.S",
          "language": "en",
          "initial_prompt.$": "$.context.transcription"
        },
        "JobName": "transcribe-audio"
      },
      "ResultPath": null,
      "Next": "GetItem from DynamoDB"
    },
    "Summarize Transcription": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload": {
          "input_key.$": "$.dynamodb.Item.key.S",
          "transcription.$": "$.dynamodb.Item.transcription.M.segments",
          "transcription_context.$": "$.context.transcription",
          "summarization_context.$": "$.context.summarization"
        },
        "FunctionName": "${summarizeTranscriptionFunctionArn}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultSelector": {
        "summarization.$": "$.Payload.summarization_context",
        "transcription.$": "$.Payload.transcription_context"
      },
      "ResultPath": "$.context",
      "Next": "Increment index"
    },
    "Increment index": {
      "Type": "Pass",
      "Next": "Loop over Videos",
      "Parameters": {
        "index.$": "States.MathAdd(1, $.iterator.index)"
      },
      "ResultPath": "$.iterator"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
